# Topic Print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [3]:
print(12,12>6,'Pakistan',23.33,end='')

12 True Pakistan 23.33

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [4]:
print('Pakistan',23,12.56,20>10,sep='-')

Pakistan-23-12.56-True

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [5]:
print('Pakistan',23,54.45,12>11,sep=' ')

Pakistan 23 54.45 True

4) Can a python print function take no value to print???

In [7]:
a=None
print(a)

None

In [8]:
# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [21]:
name='Mr.Ahmad'
age=30
passing_year=2005
firm='The Himalya Associates'
joining_firm=2015
height=5.10
weight=70600
income=200
print(f'one of my friends name is {name}.He is {age} year old.he is lawer by profession.he has done his bachelors in law in the year {passing_year}.he is working with a reputable law firm {firm} in Karchi since {joining_firm}.He is a handsome lawer with height of {height} and weight {weight}.His monthly income is {income} PKR ')

one of my friends name is Mr.Ahmad.He is 30 year old.he is lawer by profession.he has done his bachelors in law in the year 2005.he is working with a reputable law firm The Himalya Associates in Karchi since 2015.He is a handsome lawer with height of 5.1 and weight 70600.His monthly income is 200 PKR

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [12]:
passing_year=2005
current_year=2022
time_to_bachelors=current_year-passing_year
print(f'Mr Ahmad graduate {time_to_bachelors} year ago')

Mr Ahmad graduate 17 year ago

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [15]:
joining_firm=2015
current_year=2022
time_to_firm=current_year-joining_firm
print(f'Mr.Ahmad has {time_to_firm} since joining firm')

Mr.Ahmad has 7 since joining firm

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [18]:
dollars=200/200
print(f'Mr Ahmad monthly income is {dollars}')

Mr Ahmad monthly income is 1.0

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [30]:
income=float(200)

In [31]:
print(f'Mr Ahmad income is {income}')

Mr Ahmad income is 200.0

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [35]:
weight
weight_kg=weight//1000
weight_kg

70

In [37]:
print(f'the weight of Mr Ahmad is {weight_kg}')

the weight of Mr Ahmad is 70

11) print the year of birth of Mr. Ahmed.

In [41]:
year_of_birthday=2022-age
print(f'year of birthday of Mr Ahmad is {year_of_birthday}')

year of birthday of Mr Ahmad is 1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [45]:
division=100%6
division
print('the division is not possible among 6 students')

the division is not possible among 6 students

In [1]:
a=7

In [2]:
a

7