# File handling

In [4]:
with open('student.txt','r') as f:
    a=f.readline()
    print(a)

Q;What is your name?

In [5]:
with open('student.txt','r') as f:
    a=f.readlines()
    print(a)

['Q;What is your name?\n', 'A;My name is Talha']

In [6]:
with open('student.txt','r') as f:
    a=f.readlines()
    for i in a:
        print(i)

Q;What is your name?

A;My name is Talha

In [79]:
with open('talhajoiya.txt','w+') as f:
    f.write('I am data scientist')
    f.seek(0)
    print(f.read()) #it is use most of the cases

I am data scientist

In [80]:
with open('talhajoiya.txt','r+') as f:
    f.write('I am a AI engineer')
    f.seek(0)
    print(f.read())

I am a AI engineert

In [81]:
with open('talhajoiya.txt','a') as f:
    f.write('I am a data scientist')
    f.write('I am a data scientist.')

In [82]:
with open('talhajoiya.txt','r+') as f:
    print(f.read())

I am a AI engineertI am a data scientistI am a data scientist.

In [85]:
with open('talhajoiya.txt','r+') as f:
    a=f.readlines()
    print(a)
    for i in a:
        with open('new1.txt','a') as f:
            f.write(i)

['I am a AI engineertI am a data scientistI am a data scientist.']

In [86]:
with open('new1.txt','r') as f:
    print(f.read())

I am a AI engineertI am a data scientistI am a data scientist.

In [2]:
import csv

In [23]:
with open('record.csv','r') as f:
    a=csv.reader(f)
    for i in a:
        print(i)

['Player', 'Sports']
['Babar Azam', 'Cricket']
['Jahangir Khan', 'Scoish']
[]

In [24]:
with open('record.csv','a')as f:
    data_handler=csv.writer(f,delimiter=',')
    data_handler.writerow(['Shadab Khan','Cricket'])

In [25]:
with open('record.csv','r')as f:
    a=csv.reader(f)
    for i in a:
        print(i)

['Player', 'Sports']
['Babar Azam', 'Cricket']
['Jahangir Khan', 'Scoish']
[]
['Shadab Khan', 'Cricket']
[]

In [1]:
import json

In [2]:
a={'name':'Talha','School':'Usman Public'}

In [4]:
with open('jsonfile.json','w') as f:
    json.dump(a,f)

In [8]:
with open('jsonfile.json','r') as f:
    a=json.load(f)
    print(a)
    print(a['name'])

{'name': 'Talha', 'School': 'Usman Public'}
Talha

dictionary comprehension

In [10]:
a={i:i*i for i in range(40)}

In [14]:
a

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521}

In [11]:
with open('jsonfile2.json','w') as f:
    json.dump(a,f)

In [16]:
with open('jsonfile2.json','r')as f:
    v=json.load(f)
    print(v)
    print(v['3'])

{'0': 0, '1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64, '9': 81, '10': 100, '11': 121, '12': 144, '13': 169, '14': 196, '15': 225, '16': 256, '17': 289, '18': 324, '19': 361, '20': 400, '21': 441, '22': 484, '23': 529, '24': 576, '25': 625, '26': 676, '27': 729, '28': 784, '29': 841, '30': 900, '31': 961, '32': 1024, '33': 1089, '34': 1156, '35': 1225, '36': 1296, '37': 1369, '38': 1444, '39': 1521}
9