In [1]:
class Car():
    wheel=4
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model

In [2]:
c1=Car('Toyota',2009)

In [3]:
c1.wheel

4

In [4]:
Car.wheel

4

In [5]:
class Car():
    wheel=4
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def petrol(self):
        print(f'{self.brand} has full of petrol')

In [6]:
c2=Car('Honda',2019)

In [7]:
Car.petrol()

TypeError: petrol() missing 1 required positional argument: 'self'

In [8]:
c2.petrol()

Honda has full of petrol

In [9]:
Car.petrol(c2) #In this situation we use @classmethod

Honda has full of petrol

In [10]:
class Car():
    wheel=4
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    @classmethod
    def petrol(self):
        print(f'It has {self.wheel} wheel')

In [11]:
c3=Car('Kia',2018)

In [12]:
Car.petrol()

It has 4 wheel

In [13]:
c3.petrol()

It has 4 wheel

In [14]:
##class method call via instance or class while instance method call via instanse or object itself

In [15]:
class Car():
    wheel=4
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    @classmethod
    def petrol(self):
        print(f'It has {self.wheel} wheel')
    @staticmethod
    def greet():
        print('Assalam O Alaikum')

In [16]:
c4=Car('Sportage',2017)

In [17]:
c4.greet()

Assalam O Alaikum

In [18]:
Car.greet()

Assalam O Alaikum

# Closure

In [19]:
def Vehicle():
    def Car(Vehicle):
        return Car

In [20]:
def Vehicle():
    print('you are a programmer')

In [21]:
Vehicle()

you are a programmer

In [22]:
def greet(msg):
    print(msg)

In [23]:
greet('Salam Everyone')

Salam Everyone

In [24]:
def greet(msg):
    def student():
        print(msg)
        print('TalhaJoiya')
        print('Programmer')
    return student()

In [25]:
greet('Salam')

Salam
TalhaJoiya
Programmer

In [26]:
def country(pr):
    def city():
        print('Salam')
        pr('Pakistan')
    return city()

In [27]:
country(print)

Salam
Pakistan

In [28]:
def country(msg):
    def city():
        print(f'country name is {msg}')
        print('city name is Karchi')
    return city()

In [29]:
country('Pakistan')

country name is Pakistan
city name is Karchi

In [30]:
def country(msg):
    print(msg)
    print('country')
    def city():
        print(msg)
        print('country')
        def town():
            print(msg)
            print('town')
        return town()
    return city()

In [31]:
country('Salam')

Salam
country
Salam
country
Salam
town

In [32]:
def country(msg):
    def city():
        def town():
            print(msg)
            print('town')
        return town()
    return city()

In [33]:
country('Salman')

Salman
town

In [34]:
def country(func):
    def city():
        func()
        print('we give function as an argument')
    return city()

In [35]:
def city_name():
    print('Lahore')

In [36]:
country(city_name)

Lahore
we give function as an argument

In [37]:
def country(func):
    def city():
        func('Talha')
        print('we give function as an argument')
    return city()

In [38]:
country(print)

Talha
we give function as an argument

# Decorator

In [39]:
def profile_maker(f):
    name='Talha'
    university='SSUET'
    profile=f(n=name,u=university)
    print(profile)

In [40]:
@profile_maker
def profile_builder(**details):
    profile={}
    for k,v in details.items():
        profile[k]=v
    return profile

{'n': 'Talha', 'u': 'SSUET'}

In [41]:
@profile_maker
def profile_builder(**details):
    return details

{'n': 'Talha', 'u': 'SSUET'}

In [42]:
def Car(f):
    name='Lamborghini'
    model=2019
    a=f(name,model)
    print(a)

In [43]:
@Car
def car_t(*tuplee):
    features=[]
    for i in tuplee:
        features.append(i)
    return features

['Lamborghini', 2019]

In [44]:
def freiend_greet(f):
    name=input('enter your name')
    gg=f(name)
    print(gg)

In [45]:
@freiend_greet
def funct(name):
    return f'Welcome to my house {name}'

enter your name
Welcome to my house

In [46]:
def invitation(func):
    name1=input('enter your name')
    name2=input('enter your name')
    fr=func(name1,name2)
    print(fr)

In [47]:
@invitation
def friend(f1,f2):
    return f'you both are invited to my wedding {f1} and {f2}'

enter your name
enter your name
you both are invited to my wedding  and

In [48]:
list1=[2,4,6,'pakistan']
iterator=iter(list1)

In [63]:
next(iterator)

4

In [50]:
l2=[3,4,5,7,8]

In [51]:
iterator1=iter(l2)

In [52]:
iterator1

In [53]:
next(iterator1)

3

In [54]:
def forloop(list3):
    LIST=[]
    for i in list3:
        LIST.append(i*i)
    return LIST

In [55]:
a=forloop([2,3,6,7])
print(a)

[4, 9, 36, 49]

# Generator

In [56]:
def loop(n):
    for i in n:
        yield i*i
v=loop([3,2,16,7,8])
print(v)

<generator object loop at 0x00000243344D1F90>

In [57]:
next(v)

9

In [58]:
a =int(input("Enter a number")) 
b =int(input("Enter a number")) 
try:
    c = a/b
# except will only be run if exception arises
except ZeroDivisionError:
    print("Handled ZeroDivisionError")
# else will only run if there is no exception arises in try block
else:
    print("Else " +str(c))

# this line will be excecuted in normal routine if there is no excpetion arises
# this line will be excecuted in normal routine if there is excpetion arises and handled successfuly
print("hello")

Enter a number

ValueError: invalid literal for int() with base 10: ''

In [59]:
print("First")
d = [1,2,3,4,5,6,7,9]
try:
    a =int(input("Enter a number")) 
    b =int(input("Enter a number"))
    index = int(input("Enter a index"))
    c = a/b
    e = d[index]
except ZeroDivisionError:
    print("Handled ZeroDivisionError")
except ValueError:
    print("Value eror reported")
except IndexError:
    print("INdex error reported")
else:
    print(c)
    print(e)

First
Enter a number
Value eror reported

In [60]:
class Student():
    def __init__(self,name,age):
        if age > 80 or age <16:
            raise Exception("Age can not be greater then 80 and less then 16")
        self.name = name
        self.age = age

In [61]:
age = int(input("Enter students age: "))
st = Student("Nasir",age)
print(st.age)
print(st.name)

Enter students age:

ValueError: invalid literal for int() with base 10: ''

In [62]:

'''ab humen try except laga diya hy code crash nahi hoga '''
try:
    
    age = int(input("Enter students age: "))
    
    st = Student("Hello",age)   # send different ages and see the result
except Exception as e:
    print("Exception "+str(e))
else :
    print(st.age)
    print(st.name)

Enter students age:
Exception invalid literal for int() with base 10: ''

In [7]:
try:
    a=int(input('Enter your number'))
    b=int(input('Enter your number'))
    c=a/b
except:
    print('Exception caught')
else:
    print(c)

Enter your number3
Enter your numberd
Exception caught

In [9]:
a=int(input('Enter your number'))
b=int(input('Enter your number'))
try:
    c=a/b
except Exception as e:
    print(str(e))
else:
    print(c)

Enter your number2
Enter your numberd

ValueError: invalid literal for int() with base 10: 'd'

In [12]:
try:
    a=int(input('Enter your number'))
    b=int(input('Enter your number'))
    c=a/b
except Exception as e:
    print(str(e))
else:
    print(c)

Enter your number2
Enter your numberr
invalid literal for int() with base 10: 'r'

In [13]:
try:
    a=int(input('Enter your number'))
    b=int(input('Enter your number'))
    c=a/b
except Exception as e:
    print(str(e))
else:
    print(c)
finally:
    print('I am running anytime')

Enter your number3
Enter your numberd
invalid literal for int() with base 10: 'd'
I am running anytime

In [17]:
ab=[]
try:
    a=int(input('Enter a number'))
    b=int(input('Enter a number'))
    d=a*b
    indexing=int(input('Enter the index number'))
    e=ab[indexing]
except Exception as e:
    print('Exception is' ,str(e))
else:
    print(d)
    print(e)
finally:
    print('Salam')

Enter a number3
Enter a number2
Enter the index number3
Exception is list index out of range
Salam

In [33]:
class License():
    def __init__(self,name,age):
        if(age<18 or age>60):
            raise Exception('Your are not allowed to drive')
        self.name=name
        self.age=age

In [34]:
age=int(input('Enter a age'))
a=License('Talha',age)
a.age

Enter a age34

34

In [41]:
try:
    age=int(input('Enter a age'))
except Exception as e:
    print('Exception is ' ,str(e))
else:
    a=License('Talha',age)
    print(a.age)

Enter a age2

Exception: Your are not allowed to drive

In [40]:
try:
    age=int(input('Enter a age'))
except Exception as e:
    print('Exception is ' ,str(e))
else:
    a=License('Talha',age)
    print(a.age)

Enter a ager
Exception is  invalid literal for int() with base 10: 'r'

In [44]:
try:
    age=int(input('Enter a age'))
    a=License('Talha',age)
except Exception as e:
    print('Exception is ' ,str(e))
else:
    print(a.age)

Enter a age26
26

In [39]:
class License():
    def __init__(self,name,age):
        if(age<18 or age>60):
            raise StudentAgeError('Your are not allowed to drive')
        if(name=='Nasir'):
            raise NameError('Teacher name not allowed')
        self.name=name
        self.age=age
class StudentAgeError(Exception):
    pass
class NameError(Exception):
    pass

In [41]:
try:
    age=int(input('Enter your age'))
    name=input('Enter name')
except StudentAgeError as e:
    print(str(e))
except NameError as e:
    print(str(e))
else:
    c1=License(name,age)
    print(c1.age)
    print(c1.name)

Enter your age36
Enter nameNasir

NameError: Teacher name not allowed

In [45]:
try:
    age=int(input('Enter a age'))
    name=input('Enter name')
    
except Exception as e:
    print(str(e))   
else:
    a=License(name,age)
    print(a.age)
    print(a.name)

Enter a age26
Enter nameNasir

NameError: Teacher name not allowed

In [2]:
with open('student.txt','r') as f:
    print(f.read())

Q;What is your name?
A;My name is Talha

In [3]:
with open('talhatext.txt','w') as f:
    f.write('I am a good boy\n')
    f.write('I am a programmer\n')
    f.write('I am a data scientist\n')

In [4]:
with open('talhatext.txt','r') as f:
    a=f.read()
    print(a)

I am a good boy
I am a programmer
I am a data scientist

In [6]:
with open('talhatext.txt','a') as f:
    f.write('I am IOT engineer also')

In [7]:
with open('index.txt','r') as f:
    b=f.read()
    print(b)

this is Talha filethis is Usman filethis is Ali file