# Functions

In [1]:
#defination
#call
#result

def nameUpper():
    a=input('enter your name')
    a=a.upper()
    print(a)
    
nameUpper()

enter your nametalha
TALHA

In [2]:
nameUpper()

enter your nametalhajoiya
TALHAJOIYA

In [8]:
def squareNum(num): #here num is called parameter
    sq=num**2
    print(sq)

In [9]:
squareNum(10) #here 10 is called argument

100

In [10]:
def squarerootNum(num):
    global sqroot
    sqroot=num**0.5

In [11]:
squarerootNum(9)

In [12]:
print(sqroot)

3.0

task:how to get result or value back from function

In [32]:
def areaofTriangle(l,b):
    area=l*b*0.5
    return area

In [38]:
areaofTriangle(5,4)

10.0

In [44]:
def Triangle_area(l,b):
    jaga=l*b*0.5
    return jaga,l,b

In [45]:
Traiangle_area(4,4)

NameError: name 'Traiangle_area' is not defined

In [28]:
def studentMarks(marks):
    if marks>=80:
        return 'A+ Grade'
    elif marks>=70:
        return 'A Grade'
    elif marks>=60:
        return 'B Grade'

In [29]:
studentMarks(66)

'B Grade'

In [30]:
grading=studentMarks(78)

In [31]:
print(grading)

A Grade

# default parameter

In [39]:
def salaryPackage(salary,allowance,bonus=0):
    gross=salary+allowance+bonus
    return gross

In [40]:
salaryPackage(20000,2000)

22000

In [41]:
a=salaryPackage(2000,1000,1000)

In [42]:
print(a)

4000

In [43]:
b=salaryPackage(20000,2000)
print(b)

22000

In [ ]:
#git config --global user.name 'TalhaFile'
#git config --global user.name ''
#git add 'file name'

1000000 py 20 per
500000 py 10 per
250000 py 5 per

In [9]:
def taxCal(salary):
    if salary>=1000000:
        tax=salary*0.20
        return tax
#         remainingSalary=salary-tax
#         print('remaining salary is',remainingSalary)
    elif(salary>=500000):
        tax=salary*0.10
        return tax
#         remainingsalary=salary-tax
#         print('remaining salary is',remainingsalary)
    elif(salary>=250000):
        tax=salary*0.05
        return tax
#         remainingsalary=salary-tax
#         print('remaining salary is',remainingsalary)
    else:
        tax=0
        return tax
#         remainingsalary=salary-tax
#         print('remaining salary is',remainingsalary)

In [10]:
taxCal(900000)

90000.0

In [11]:
def grossSalary(salary,tax):
    remainingSalary=salary-tax
    return remainingSalary

In [12]:
grossSalary(250000,taxCal(250000))

237500.0

In [1]:
def salaryBonus(salary,bonus=7):
    return salary,bonus

In [3]:
salary,bonus=salaryBonus(2000,222)

In [4]:
salary

2000

In [5]:
bonus

222

In [7]:
salaryBonus=salaryBonus(2000)

In [8]:
salary

2000

In [9]:
bonus

222

In [43]:
def dict(name,fatherName,age=''):
    bio={'name':name,'Father name':fatherName}
    if age:
        bio['age']=age
    return bio

In [44]:
dict('Talha','Abdul Rehman')

{'name': 'Talha', 'Father name': 'Abdul Rehman'}

In [48]:
dict('Talha','Abdul Rehman',age=45)

{'name': 'Talha', 'Father name': 'Abdul Rehman', 'age': 45}

In [49]:
def School(name,classname,rollnumber=''):
    dict={'School Name':name,'Class':classname}
    if rollnumber:
        dict['Roll number']=rollnumber
    return dict

In [50]:
School('Talha','Seven')

{'School Name': 'Talha', 'Class': 'Seven'}

In [55]:
School('Talha','Eight',rollnumber=20)

{'School Name': 'Talha', 'Class': 'Eight', 'Roll number': 20}

# Using a function with a while loop

Q;you can use function with all the python structure you've learned about so far.for example,let's use the get_formatted_name()function with a while loop to greet users more formally.here's first attempt at greeting people using their first and last names

Q;for this example,we use a simple version of get_formated_name()that does not involve middle names.The while loop asks the user to enter their name,and we prompt for their first and last name seperately.
but there's one problem with this while loop;we haven't defined a quit condition.where do you put a quit condition when you ask for a series of inputs?We want the user to be able to quit as easily as possible,so each prompt should offer a way to quit.The break statement offers a straightforward way to exit the loop at either prompt

In [21]:
def formatted_name(name1,name2):
    formatted=name1+' '+name2
    return formatted.title()

In [78]:
def greet():
    while True:
        f_name=input('enter your first name\n')
        l_name=input('enter your second name\n')
        if f_name=='q':
            break
#         else:
#             if l_name=='q':
#                 break
        elif l_name=='q':
                break
        a=print('Salam',formatted_name(f_name,l_name))

In [79]:
greet()

enter your first name
talha
enter your second name
joiya
Salam Talha Joiya
enter your first name
q
enter your second name
q

Q:Say we have a list of users and want to print a greeting to each.The following example sends a list of names to a function called greet_user().which great each person in the list individually

In [137]:
def greet_person(personss):
    for i in personss:
#         a=print('Salam',i) this is wrong way to print iterate value,in this statement we print only one item and store i in the variable a and after that we return a which is 'Talha'
#         return a
        print('Salam',i)

In [138]:
person=['Talha','Usman','Ali','Umer']

In [209]:
greet_person(person)

Salam Talha
Salam Usman
Salam Ali
Salam Umer

In [210]:
a=greet_person(person)

Salam Talha
Salam Usman
Salam Ali
Salam Umer

In [211]:
print(a) #this is because we use print in our functon,our variable has not stored globally

None

In [212]:
def add(a,b):
    c=a+b
    return c #this 'c' is global because we add return to it and we can use it outside of the function

In [213]:
f=add(2,3)

In [214]:
print(f)

5

In [215]:
def add(a,b):
    c=a+b
    print(c) #this 'c' is not global so we can not use it outside of the function

In [216]:
a=add(2,2)

4

In [217]:
print(a)

None

In [269]:
unprinted_model=['dodcahedrone','Iphone','robot pendant']
completed_models=[]
while unprinted_model:
    abc=unprinted_model.pop()
    print('printing model: ',abc)
    completed_models.append(abc)
print('Following are the printing model')
for i in completed_models:
    print(i)

printing model:  robot pendant
printing model:  Iphone
printing model:  dodcahedrone
Following are the printing model
robot pendant
Iphone
dodcahedrone

In [270]:
completed_models

['robot pendant', 'Iphone', 'dodcahedrone']

In [271]:
unprinted_model # we can prevent from this problem by using it in function

[]

In [17]:
Famous_brand=['Iphone','Samsung','Huawei']
Brand=[]

In [18]:
def Famous(abc,deff):
    while abc:
        ghi=abc.pop()
        print('Famous brand is',ghi)
        Brand.append(ghi)

In [19]:
def brand_name(Bran):
    for i in Bran:
        print(i)

In [20]:
Famous(Famous_brand[:],Brand)
brand_name(Brand)

Famous brand is Huawei
Famous brand is Samsung
Famous brand is Iphone
Huawei
Samsung
Iphone

In [21]:
aa=[1,2,3]

In [22]:
bb=aa[:]

In [23]:
bb

[1, 2, 3]

In [28]:
bb.pop()

3

In [29]:
bb

[1, 2]

In [31]:
cc=bb

In [32]:
cc

[1, 2]

In [33]:
cc.append(5)

In [34]:
cc

[1, 2, 5]

In [35]:
bb

[1, 2, 5]

In [36]:
hh=cc.copy()

In [37]:
hh

[1, 2, 5]

In [38]:
hh.append(7)

In [39]:
hh

[1, 2, 5, 7]

In [41]:
cc

[1, 2, 5]

In [42]:
a=['tta','hdh']

In [43]:
b=[]

In [44]:
a=b.append(a)

In [45]:
print(a)

None

## passing an arbitrary number of argument

In [58]:
def pizzaRecipe(flavour,*Topping): # '*Topping' parameter has ability to store multiple values given by the user
    e=print(f'Flavour is {flavour} with topping of {Topping}' )
    return e

In [59]:
pizzaRecipe('Chicken Tikka','Mushrooms','Green Pepper','Extra Cheeze')
pizzaRecipe('Chicken Tikka','Green Pepper')

Flavour is Chicken Tikka with topping of ('Mushrooms', 'Green Pepper', 'Extra Cheeze')
Flavour is Chicken Tikka with topping of ('Green Pepper',)

In [89]:
def pizzaRecipe(flavour,*Topping): # '*Topping' parameter has ability to store multiple values given by the user
    print(f'Pizza flavour is {flavour} with following toppings;')
    for i in Topping:
        print('-',i)

In [90]:
pizzaRecipe('ChickenTikka','Green Pepper','Extra Cheese','Mushrooms')

Pizza flavour is ChickenTikka with following toppings;
- Green Pepper
- Extra Cheese
- Mushrooms

## using an arbitrary keyword argument

In [115]:
def dictFunct(name,father_name,**rollnumber):
    student={}
    student['Name']=name
    student['Father name']=father_name
    for key,value in rollnumber.items():
        student[key]=value
    return student

In [116]:
dictFunct('Talha','Abdul Rehman')
dictFunct('Talha','Abdul Rehman',rollnumber=55,rere=34)

{'Name': 'Talha', 'Father name': 'Abdul Rehman', 'rollnumber': 55, 'rere': 34}

In [117]:
def bio(school,classname,**address):
    biodict={}
    biodict['School']=school
    biodict['Class']=classname
    for i,k in address.items():
        biodict[i]=k
    return biodict

In [118]:
bio('Usman Public',8,loaction='Power House',Area=1000)

{'School': 'Usman Public', 'Class': 8, 'loaction': 'Power House', 'Area': 1000}