# For Loops

In [1]:
for i in range(10):               #[0,1,2,3,4,5,6,7,8,9]
    print('Hello world')

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [2]:
for i in range(10):
    print(i,'Hello world')

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world

In [3]:
for j in range(0,10,2):
    print(j,'Hello World')

0 Hello World
2 Hello World
4 Hello World
6 Hello World
8 Hello World

In [4]:
for i in range(2,10,3):
    print(i,'Salam Talha')

2 Salam Talha
5 Salam Talha
8 Salam Talha

In [5]:
for i in range(10,2,-1):
    print(i,'Salam Talha')

10 Salam Talha
9 Salam Talha
8 Salam Talha
7 Salam Talha
6 Salam Talha
5 Salam Talha
4 Salam Talha
3 Salam Talha

In [6]:
for i in 'Pakistan':
    print(i)

P
a
k
i
s
t
a
n

In [7]:
for h in ['Pakistan','India','China',['Talha','Usman']]:
    print(h)

Pakistan
India
China
['Talha', 'Usman']

In [8]:
for i in '233232':
    print(i)

2
3
3
2
3
2

In [9]:
for car in ['civic','mehran','city']:
    print(car.upper())

CIVIC
MEHRAN
CITY

In [10]:
car

'city'

In [11]:
if car=='city':
    print('okay')
else:
    print('not Okay')

okay

In [12]:
city_name=['islamabad','karachi','lahore','rawalpindi']
for i in city_name[0::]:
    print(i.upper())

ISLAMABAD
KARACHI
LAHORE
RAWALPINDI

In [13]:
for i in city_name[-2::]:
    print(i.upper())

LAHORE
RAWALPINDI

In [14]:
for i in city_name[-1:-5:-1]:
    print(i.lower())

rawalpindi
lahore
karachi
islamabad

In [15]:
for i in city_name[-1:-4:-1]:
    print(i.upper())

RAWALPINDI
LAHORE
KARACHI

In [16]:
for i in city_name:
    if i[-1]=='e':
        print(i)

lahore

In [17]:
for i in city_name:
    if i[-1]=='e':
        print(i)

lahore

In [18]:
for i in city_name:
    if len(i)>6 and i.endswith('i'):
        print(i)

karachi
rawalpindi

In [19]:
for i in city_name:
    if len(i)>6 and i[-1]=='i':
        print(i)

karachi
rawalpindi

In [20]:
for i in city_name:
    if len(i)>4 or i[-1]=='':
        print(i)

islamabad
karachi
lahore
rawalpindi

task:we need to make a list of friend to invite in a party.take freinds name as input and add in guest list

In [21]:
guests=[]
for i in range(5):
    friends=input('enter your guest name')
    guests.append(friends)

enter your guest nametalha
enter your guest namejoiya
enter your guest nameMuhammad
enter your guest nameAli
enter your guest nameUsman

In [22]:
guests

['talha', 'joiya', 'Muhammad', 'Ali', 'Usman']

# Break,Continue

In [23]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [24]:
for i in range(10):
    print(i)
    if i==5:
        break

0
1
2
3
4
5

In [25]:
for i in range(8):
    if i==4:
        continue
    print(i)

0
1
2
3
5
6
7

In [26]:
for i in range(8):
    print(i)
    if i==5:
        continue #this is not the correct way

0
1
2
3
4
5
6
7

tasK:take 10 integers as input and find the sum of all integers supplied

In [27]:
tot=0
for i in range(10):
    integer=int(input('enter your integer number'))
    tot+=integer
print(tot)

enter your integer number3
enter your integer number4
enter your integer number5
enter your integer number3
enter your integer number2
enter your integer number4
enter your integer number5
enter your integer number6
enter your integer number3
enter your integer number5
40

In [28]:
int_num=input('enter your integer number seperated by comma').split(',')
int_num

enter your integer number seperated by comma2,5,6,7

['2', '5', '6', '7']

In [29]:
int_num=input('enter your integer number seperated by comma').split(',')
tot=0
for inte in int_num:
    tot+=int(inte)
print(tot)

enter your integer number seperated by comma3,5,6,3
17

# While loop

In [1]:
b=0
while b<10:
    print(b)
    b+=1

0
1
2
3
4
5
6
7
8
9

In [2]:
c=0
while c<=10:
    print(c)
    c+=1

0
1
2
3
4
5
6
7
8
9
10

In [5]:
guests=[]
while True:
    dost=input('Enter your best friend name or press q to exit guest list')
    if dost=='q':
        break
    else:
        guests.append(dost)
print(guests)

Enter your best friend name or press q to exit guest listTalha
Enter your best friend name or press q to exit guest listJoiya
Enter your best friend name or press q to exit guest listq
['Talha', 'Joiya']

In [7]:
guest=[]
loop=True
while loop:
    dost_Name=input('Enter your name for party and press to exit the list')
    if dost_Name=='q':
        loop=False
    else:
        guest.append(dost_Name)
print(guest)

Enter your name for party and press to exit the listTalha
Enter your name for party and press to exit the listJoiya
Enter your name for party and press to exit the listMuhammad
Enter your name for party and press to exit the listq
['Talha', 'Joiya', 'Muhammad']

In [4]:
a=10
while a>0:
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1

In [1]:
c=10
while c>=0:
    print(c)
    c-=1

10
9
8
7
6
5
4
3
2
1
0

In [5]:
even=[]
for i in range(11):
    if i%2==0:
        even.append(i)
print(even)

[0, 2, 4, 6, 8, 10]

# List Comprehension

In [10]:
[num for num in range(11) if num%2==0]

[0, 2, 4, 6, 8, 10]

In [14]:
[i for i in range(11) if i%2==0 if i>3]

[4, 6, 8, 10]

In [7]:
[f'{i} is even' if i%2==0 else f'{i} is odd' for i in range(11)]

['0 is even',
 '1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd',
 '10 is even']

In [21]:
[f'{i} is even' if i%2==0 else f'{i} is odd' for i in range(11)]

['0 is even',
 '1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd',
 '10 is even']

# Nested For Loops

In [38]:
for table_num in range(2,6):
    for num in range(1,11):
        print(f'{table_num}*{num}={table_num*num}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [2]:
[(x,y) for x in range(1,4) for y in 'ABC']

[(1, 'A'),
 (1, 'B'),
 (1, 'C'),
 (2, 'A'),
 (2, 'B'),
 (2, 'C'),
 (3, 'A'),
 (3, 'B'),
 (3, 'C')]

In [4]:
[i for i in range(50) if i%7!=0 if i%5!=0]

[1,
 2,
 3,
 4,
 6,
 8,
 9,
 11,
 12,
 13,
 16,
 17,
 18,
 19,
 22,
 23,
 24,
 26,
 27,
 29,
 31,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 41,
 43,
 44,
 46,
 47,
 48]

task:make a list of square of first 10 natural numbers

In [6]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

task:make a list of square root of first ten natural numbers

In [7]:
[i**0.5 for i in range(1,11)]

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

# Dictionary

In [3]:
alist={}
blist={3}

In [4]:
type(alist)

dict

In [5]:
type(blist)

set

-A dictionary is a keyvalue pair

In [24]:
bio={"name":"Talha","School":"Usman Public","Rollnum":20,"name":"Usman"}

#There is no indexing concept in dictionary

In [25]:
bio

{'name': 'Usman', 'School': 'Usman Public', 'Rollnum': 20}

In [4]:
abc={3:3,5:7}
abc

{3: 3, 5: 7}

In [26]:
bio['name']

'Usman'

In [27]:
bio['School']

'Usman Public'

In [28]:
bio['Rollnum']=48

In [29]:
bio

{'name': 'Usman', 'School': 'Usman Public', 'Rollnum': 48}

In [30]:
bio['School']='Usman Public(11)'

In [31]:
bio

{'name': 'Usman', 'School': 'Usman Public(11)', 'Rollnum': 48}

#if two key are lies in a same list then last key overright the first one

#if we iterate in dictionary.keys() it will give you the key

In [33]:
for keyval in bio:
    print(keyval)

name
School
Rollnum

In [34]:
for keyval in bio.keys():
    print(keyval)

name
School
Rollnum

In [35]:
for keyval in bio.values():
    print(keyval)

Usman
Usman Public(11)
48

In [36]:
for keyval in bio.items():
    print(keyval)

('name', 'Usman')
('School', 'Usman Public(11)')
('Rollnum', 48)

In [38]:
for keyval in bio:
    print(bio[keyval])

Usman
Usman Public(11)
48

In [ ]:
#if we add 'dict[key_name]',then it will give you the value of the key from the list

In [39]:
for keyval in bio.keys():
    print(bio[keyval])

Usman
Usman Public(11)
48

In [46]:
for keyval in bio:
    print(bio['name'])

Usman
Usman
Usman

In [58]:
for i in bio:
    print(f'{i}:{bio[i]}')

name:Usman
School:Usman Public(11)
Rollnum:48

In [60]:
for i in bio:
    print(i,bio[i],sep=':')

name:Usman
School:Usman Public(11)
Rollnum:48

In [8]:
dd={'rr':45}

In [9]:
dd

{'rr': 45}

In [2]:
dict={'name':2}

In [3]:
dict

{'name': 2}